@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
html, body {
  --light-grey: #EEE;
  --black: #333;
  --blue-d: #4059AD;
  --blue-m: #5069BD;
  --teal-d: #6B9AC4;
  --teal-m: #7BAAD4;
  --white: #EFF2F1;
  --yellow-d: #F4B942;
  --yellow-l: #FFE4AF;

  color: var(--white);
  font-family: 'Merriweather', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  font-weight: 900;
}
